.videoRow{
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
}

.videoRow:hover{
    box-shadow: 3px 3px 15px gray;
    cursor: pointer;
}


.videoRow img{
    object-fit: contain;
    width: 246px;
    height: 138px;
}

.videoRow_text{
    margin-left: 14px;
}

.video_description{
    margin-top: 20px;
    font-size: 12px;
    color: #606060;
}

.videoRow_headline{
    font-size: 15px;
    color: #606060;

}

.vidoeRow_subs{
    font-weight: bolder;
    color: rgb(84, 157, 211);
}

.videosRow_subscribers{
    background-color: lightgray;
    padding: 2px;
}